/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1f9d55;        /* base emerald */
  --ifm-color-primary-dark: #1a8a4b;
  --ifm-color-primary-darker: #177d44;
  --ifm-color-primary-darkest: #115f33;
  --ifm-color-primary-light: #34b26e;
  --ifm-color-primary-lighter: #4fcf8d;
  --ifm-color-primary-lightest: #7ee3b2;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3cff9e;
  --ifm-color-primary-dark: #1dff8b;
  --ifm-color-primary-darker: #00ff7b;
  --ifm-color-primary-darkest: #00cc61;
  --ifm-color-primary-light: #66ffc0;
  --ifm-color-primary-lighter: #85ffd0;
  --ifm-color-primary-lightest: #a6ffe0;

  --ifm-footer-background-color: black;
}


.medium-zoom-overlay{
  /*background-color: #00a400 !important;*/
  z-index: 999;
}

.medium-zoom-image--opened{
  z-index: 1000;
}

#atlwdg-trigger.atlwdg-trigger.atlwdg-RIGHT {
  background-color: var(--ifm-color-primary);
}

.heroCodeBlock {
  max-width: 25rem;
  min-width: 20rem;
  margin: 20px auto;/* have negative bottom margin because hero gets too big */
  border-radius: 8px;
  overflow: hidden;
}

.heroPreBlock {
  margin: 0 auto -40px auto;
  max-width: 25rem;
  min-width: 20rem;
}

